.container {
  padding: 24px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px;
}

li p {
  margin-bottom: 0;
}

button {
  margin-top: 16px;
}
